@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.why-page {
  background: #ffffff;
  font-family: 'Sora', sans-serif !important;
}

/* HERO */

.why-hero {
  padding: 100px 20px;
  text-align: center;
  font-family: 'Sora', sans-serif !important;
}

.why-badge {
  color: #ff7316;
  font-size: 30px !important;
  font-weight: 700 !important;
  margin-bottom: 16px !important;
  font-family: 'Sora', sans-serif !important;
}

.why-title {
  font-size: 25px !important;
  font-weight: 800 !important;
  max-width: 900px;
  margin: 50px auto 20px !important;
  line-height: 1.1 !important;
  font-family: 'Sora', sans-serif !important;
}

.why-subtitle {
  font-size: 18px !important;
  color: #6b7280;
  max-width: 800px;
  margin: auto !important;
  line-height: 1.8 !important;
  font-family: 'Sora', sans-serif !important;
}

.why-btn {
  margin-top: 35px !important;
  padding: 12px 30px !important;
}

/* FEATURES */

.why-features {
  padding: 100px 20px;
}

.section-title {
  text-align: center;
  color: #ff7316 !important;
  font-size: 38px !important;
  font-weight: 700 !important;
  margin-bottom: 60px !important;
  font-family: 'Sora', sans-serif !important;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
}

.feature-card {
  padding: 35px;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  background: white;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h3 {
  margin-bottom: 15px;
}

.feature-card p {
  color: #6b7280;
  line-height: 1.8;
}

/* MISSION */

.why-mission {
  padding: 100px 20px;
  /* background: #f8fafc; */
  text-align: center;
}

.mission-text {
  font-size: 20px !important;
  line-height: 2 !important;
  color: #4b5563;
  font-family: 'Sora', sans-serif !important;
}

/* STATS */

.why-stats {
  padding: 90px 20px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
}

.stat-card {
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  background: #f8fafc;
}

.stat-card h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.stat-card p {
  color: #6b7280;
}

/* CTA */

.why-cta {
  padding: 120px 20px;
  text-align: center;
}

.cta-title {
  font-size: 42px !important;
  font-weight: 700 !important;
  color: #ff7316 !important;
  font-family: 'Sora', sans-serif !important;
}

.cta-subtitle {
  margin-top: 15px !important;
  color: #6b7280;
  font-family: 'Sora', sans-serif !important;
}

.cta-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .why-title {
    font-size: 36px !important;
  }

  .feature-grid,
  .stats-grid {
    grid-template-columns: 1fr;
  }

  .cta-buttons {
    flex-direction: column;
  }

}