.author-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 60px;
  padding: 24px;

  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
}

.author-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Avatar */

.author-avatar {
  width: 55px;
  height: 55px;

  background: #2563eb;
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 18px;
}

/* Info */

.author-info h3 {
  margin: 0;
  font-size: 18px;
  color: #111827;
}

.author-info p {
  margin: 4px 0;
  color: #6b7280;
  font-size: 14px;
}

.author-info span {
  font-size: 13px;
  color: #9ca3af;
}

/* Button */

.follow-btn {
  padding: 10px 18px;
  border-radius: 999px;
  border: none;

  background: #2563eb;
  color: white;

  cursor: pointer;
  font-weight: 500;
}

.follow-btn:hover {
  background: #1d4ed8;
}